In [4]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import pandas as pd

data_path = 'fake_transactional_data_24.csv'
df = pd.read_csv(data_path)

features = df.groupby('from_totally_fake_account').agg({
    'monopoly_money_amount': ['sum', 'mean', 'count'],  
}).reset_index()
features.columns = ['account', 'total_spent', 'avg_spent', 'transaction_count']

scaler = StandardScaler()
features_scaled = scaler.fit_transform(features[['total_spent', 'avg_spent', 'transaction_count']])

# Using K-means with an explicit n_init value
kmeans = KMeans(n_clusters=3, n_init=10, random_state=0).fit(features_scaled)

# Add cluster labels to the original features DataFrame
features['cluster'] = kmeans.labels_

# Analyzing each group's spending habits
cluster_analysis = features.groupby('cluster').mean()

print(cluster_analysis)

              account   total_spent  avg_spent  transaction_count
cluster
0        50173.103910  17995.046178  17.233877        1060.546599
1        51700.870649  30938.173396  29.705155        1074.232361
2        51081.324277  23529.437520  13.846818        1710.946976

In [9]:
# Function to categorize venues based on the provided terms
def categorize_venue(venue):
    food_retail = ['BUTCHER', 'BUTCHERS', 'GREENGROCER', 'FLORIST', 'TURKEY_FARM','A_SUPERMARKET','DEPARTMENT_STORE','EXPRESS_SUPERMARKET','LARGE_SUPERMARKET','SANDWICH_SHOP','THE_SUPERMARKET']
    specialty_retail = ['CHILDRENDS_SHOP', 'COMIC_BOOK_SHOP', 'JEWLLERY_SHOP', 'PET_SHOP', 'PET_TOY_SHOP', 'NERDY_BOOK_STORE', 'SECOND_HAND_BOOKSHOP', 'SCHOOL_SUPPLY_STORE', 'TOY_SHOP','SPORT_SHOP','VIDEO_GAME_STORE']
    leisure_recreation = ['GYM', 'KIDS_ACTIVITY_CENTRE','BOOKSHOP','CINEMA','DIY_STORE','GAME_SHOP','LOCAL_BOOKSHOP','RUNNING_SHOP','STREAMING_SERVICE']
    beverage_shops = ['A_CAFE','A_LOCAL_COFFEE_SHOP' , 'CAFE' , 'PRETENTIOUS_COFFEE_SHOP', 'HIPSTER_COFFEE_SHOP', 'GOURMET_COFFEE_SHOP', 'TEA_SHOP', 'COFFEE_SHOP', 'TOTALLY_A_REAL_COFFEE_SHOP', 'TO_BEAN_OR_NOT_TO_BEAN', 'WE_HAVE_BEAN_WEIGHTING']
    fashion_decor = ['ACCESSORY_SHOP', 'FASHIONABLE_SPORTSWARE_SHOP', 'FASHION_SHOP', 'TRAINER_SHOP', 'CLOTHES_SHOP', 'KIDS_CLOTHING_SHOP']
    home_electronics = ['HOME_IMPROVEMENT_STORE', 'ELECTRONICS_SHOP', 'TECH_SHOP', 'HIPSTER_ELECTRONICS_SHOP','DVD_SHOP']
    bar = ['BAR','COCKTAIL_BAR','G&T_BAR','LIQUOR_STORE','LOCAL_PUB','LOCAL_WATERING_HOLE','PUB','WHISKEY_BAR','WHISKEY_SHOP','WINE_BAR','WINE_CELLAR']
    dining = ['CHINESE_RESTAURANT','COOKSHOP','INDIAN_RESTAURANT','KEBAB_SHOP','LOCAL_RESTAURANT','LUNCH_PLACE','LUNCH_VAN','RESTAURANT','RESTAURANT_VOUCHER','ROASTERIE','SEAFOOD_RESAURANT','STEAK_HOUSE']
    takeaway =['TAKEAWAY','CHINESE_TAKEAWAY','TAKEAWAY_CURRY',]
    if any(char.isdigit() for char in venue):
        return 'Transfer'
    elif venue in food_retail:
        return 'Food Retail'
    elif venue in specialty_retail:
        return 'Specialty Retail'
    elif venue in leisure_recreation:
        return 'Leisure and Recreation'
    elif venue in beverage_shops:
        return 'Beverage Shops'
    elif venue in fashion_decor:
        return 'Fashion and Decor'
    elif venue in home_electronics:
        return 'Home and Electronics'
    elif venue in bar:
        return 'Bar'
    elif venue in dining:
        return 'Dining'
    elif venue in takeaway:
        return 'Takeaway'
    else:
        return 'Other'

# Apply the categorization function
df['venue_category'] = df['to_randomly_generated_account'].apply(categorize_venue)

# Create a new table showing counts of transactions by category for each account
account_category_counts = df.groupby(['from_totally_fake_account', 'venue_category']).size().unstack(fill_value=0)

# Calculate the proportion of transfers relative to the total transactions for each account
account_category_counts['Transfer Proportion'] = account_category_counts['Transfer'] / account_category_counts.sum(axis=1)

# Show the first few rows of the new table
print(account_category_counts.head())

venue_category             Bar  Beverage Shops  Dining  Fashion and Decor  \
from_totally_fake_account
1000.0                     363             816      40                  2
1002.0                     334             209      28                  5
1006.0                     320             856      44                  9
1018.0                     416              14      63                 18
1053.0                     319             274     222                 24

venue_category             Food Retail  Home and Electronics  \
from_totally_fake_account
1000.0                              11                    22
1002.0                              12                    27
1006.0                             185                    17
1018.0                             164                     5
1053.0                              77                    23

venue_category             Leisure and Recreation  Specialty Retail  Takeaway  \
from_totally_fake_account
1000.0                                         33                24        24
1002.0                                         42                 8        26
1006.0                                         41                56        25
1018.0                                          5                 2         0
1053.0                                         45                 5        23

venue_category             Transfer  Transfer Proportion
from_totally_fake_account
1000.0                          375             0.219298
1002.0                          352             0.337488
1006.0                          288             0.156437
1018.0                          118             0.146584
1053.0                          307             0.232752

In [19]:
df['venue_category_new'] = df['to_randomly_generated_account'].apply(categorize_venue_new)

In [10]:
# Save the new table as a CSV file
output_file_path = 'account_category_counts_1.csv'  # You can change this to your desired file path
account_category_counts.to_csv(output_file_path)

print(f"File saved as {output_file_path}")

File saved as account_category_counts_1.csv

In [20]:
# Import necessary libraries
import pandas as pd

# Make sure the categorize_venue_new function is defined in your environment
# Here's a placeholder for the function based on your categorization; you should replace it with your actual function
def categorize_venue_new(venue):
    food_retail = ['BUTCHER', 'BUTCHERS', 'GREENGROCER', 'FLORIST', 'TURKEY_FARM','A_SUPERMARKET','DEPARTMENT_STORE','EXPRESS_SUPERMARKET','LARGE_SUPERMARKET','SANDWICH_SHOP','THE_SUPERMARKET']
    specialty_retail = ['CHILDRENDS_SHOP', 'COMIC_BOOK_SHOP', 'JEWLLERY_SHOP', 'PET_SHOP', 'PET_TOY_SHOP', 'NERDY_BOOK_STORE', 'SECOND_HAND_BOOKSHOP', 'SCHOOL_SUPPLY_STORE', 'TOY_SHOP','SPORT_SHOP','VIDEO_GAME_STORE']
    leisure_recreation = ['GYM', 'KIDS_ACTIVITY_CENTRE','BOOKSHOP','CINEMA','DIY_STORE','GAME_SHOP','LOCAL_BOOKSHOP','RUNNING_SHOP','STREAMING_SERVICE']
    beverage_shops = ['A_CAFE','A_LOCAL_COFFEE_SHOP' , 'CAFE' , 'PRETENTIOUS_COFFEE_SHOP', 'HIPSTER_COFFEE_SHOP', 'GOURMET_COFFEE_SHOP', 'TEA_SHOP', 'COFFEE_SHOP', 'TOTALLY_A_REAL_COFFEE_SHOP', 'TO_BEAN_OR_NOT_TO_BEAN', 'WE_HAVE_BEAN_WEIGHTING']
    fashion_decor = ['ACCESSORY_SHOP', 'FASHIONABLE_SPORTSWARE_SHOP', 'FASHION_SHOP', 'TRAINER_SHOP', 'CLOTHES_SHOP', 'KIDS_CLOTHING_SHOP']
    home_electronics = ['HOME_IMPROVEMENT_STORE', 'ELECTRONICS_SHOP', 'TECH_SHOP', 'HIPSTER_ELECTRONICS_SHOP','DVD_SHOP']
    bar = ['BAR','COCKTAIL_BAR','G&T_BAR','LIQUOR_STORE','LOCAL_PUB','LOCAL_WATERING_HOLE','PUB','WHISKEY_BAR','WHISKEY_SHOP','WINE_BAR','WINE_CELLAR']
    dining = ['CHINESE_RESTAURANT','COOKSHOP','INDIAN_RESTAURANT','KEBAB_SHOP','LOCAL_RESTAURANT','LUNCH_PLACE','LUNCH_VAN','RESTAURANT','RESTAURANT_VOUCHER','ROASTERIE','SEAFOOD_RESAURANT','STEAK_HOUSE']
    takeaway =['TAKEAWAY','CHINESE_TAKEAWAY','TAKEAWAY_CURRY',]
    if any(char.isdigit() for char in venue):
        return 'Transfer'
    elif venue in food_retail:
        return 'Food Retail'
    elif venue in specialty_retail:
        return 'Specialty Retail'
    elif venue in leisure_recreation:
        return 'Leisure and Recreation'
    elif venue in beverage_shops:
        return 'Beverage Shops'
    elif venue in fashion_decor:
        return 'Fashion and Decor'
    elif venue in home_electronics:
        return 'Home and Electronics'
    elif venue in bar:
        return 'Bar'
    elif venue in dining:
        return 'Dining'
    elif venue in takeaway:
        return 'Takeaway'
    else:
        return 'Other'

# Now, perform the aggregation to get counts and sums
account_spending_category = df.groupby(['from_totally_fake_account', 'venue_category_new']).agg({
    'monopoly_money_amount': ['count', 'sum']
}).unstack(fill_value=0)

# Simplify the column names for easier access
account_spending_category.columns = ['_'.join(col).strip() for col in account_spending_category.columns.values]

# Display the aggregated DataFrame
print(account_spending_category.head())

                           monopoly_money_amount_count_Bar  \
from_totally_fake_account
1000.0                                                 363
1002.0                                                 334
1006.0                                                 320
1018.0                                                 416
1053.0                                                 319

                           monopoly_money_amount_count_Beverage Shops  \
from_totally_fake_account
1000.0                                                            816
1002.0                                                            209
1006.0                                                            856
1018.0                                                             14
1053.0                                                            274

                           monopoly_money_amount_count_Dining  \
from_totally_fake_account
1000.0                                                     40
1002.0                                                     28
1006.0                                                     44
1018.0                                                     63
1053.0                                                    222

                           monopoly_money_amount_count_Fashion and Decor  \
from_totally_fake_account
1000.0                                                                 2
1002.0                                                                 5
1006.0                                                                 9
1018.0                                                                18
1053.0                                                                24

                           monopoly_money_amount_count_Food Retail  \
from_totally_fake_account
1000.0                                                          11
1002.0                                                          12
1006.0                                                         185
1018.0                                                         164
1053.0                                                          77

                           monopoly_money_amount_count_Home and Electronics  \
from_totally_fake_account
1000.0                                                                   22
1002.0                                                                   27
1006.0                                                                   17
1018.0                                                                    5
1053.0                                                                   23

                           monopoly_money_amount_count_Leisure and Recreation  \
from_totally_fake_account
1000.0                                                                    33
1002.0                                                                    42
1006.0                                                                    41
1018.0                                                                     5
1053.0                                                                    45

                           monopoly_money_amount_count_Specialty Retail  \
from_totally_fake_account
1000.0                                                               24
1002.0                                                                8
1006.0                                                               56
1018.0                                                                2
1053.0                                                                5

                           monopoly_money_amount_count_Takeaway  \
from_totally_fake_account
1000.0                                                       24
1002.0                                                       26
1006.0                                                       25
1018.0                                                        0
1053.0                                                       23

                           monopoly_money_amount_count_Transfer  \
from_totally_fake_account
1000.0                                                      375
1002.0                                                      352
1006.0                                                      288
1018.0                                                      118
1053.0                                                      307

                           monopoly_money_amount_sum_Bar  \
from_totally_fake_account
1000.0                                           4726.88
1002.0                                           4614.44
1006.0                                           4292.25
1018.0                                           2563.49
1053.0                                           4055.18

                           monopoly_money_amount_sum_Beverage Shops  \
from_totally_fake_account
1000.0                                                      2023.38
1002.0                                                       545.57
1006.0                                                      2107.31
1018.0                                                        46.69
1053.0                                                       853.12

                           monopoly_money_amount_sum_Dining  \
from_totally_fake_account
1000.0                                               790.68
1002.0                                               660.94
1006.0                                               958.68
1018.0                                              1857.36
1053.0                                              1798.12

                           monopoly_money_amount_sum_Fashion and Decor  \
from_totally_fake_account
1000.0                                                           213.0
1002.0                                                           344.0
1006.0                                                           558.0
1018.0                                                          2093.0
1053.0                                                          2676.0

                           monopoly_money_amount_sum_Food Retail  \
from_totally_fake_account
1000.0                                                    697.43
1002.0                                                   1050.61
1006.0                                                   3861.39
1018.0                                                   4428.97
1053.0                                                   1787.22

                           monopoly_money_amount_sum_Home and Electronics  \
from_totally_fake_account
1000.0                                                              126.0
1002.0                                                              174.0
1006.0                                                               93.0
1018.0                                                               92.0
1053.0                                                              466.0

                           monopoly_money_amount_sum_Leisure and Recreation  \
from_totally_fake_account
1000.0                                                               326.88
1002.0                                                               506.88
1006.0                                                               593.88
1018.0                                                               134.00
1053.0                                                               698.88

                           monopoly_money_amount_sum_Specialty Retail  \
from_totally_fake_account
1000.0                                                          681.0
1002.0                                                          388.0
1006.0                                                         1453.0
1018.0                                                           89.0
1053.0                                                          190.0

                           monopoly_money_amount_sum_Takeaway  \
from_totally_fake_account
1000.0                                                 900.21
1002.0                                                 871.23
1006.0                                                 797.98
1018.0                                                   0.00
1053.0                                                 614.70

                           monopoly_money_amount_sum_Transfer
from_totally_fake_account
1000.0                                               18213.05
1002.0                                                6467.30
1006.0                                                4062.70
1018.0                                                4307.70
1053.0                                                6305.35

In [22]:

# Save the new table as a CSV file
output_file_path = 'account_spending_category.csv'  # You can change this to your desired file path
account_spending_category.to_csv(output_file_path)

print(f"File saved as {output_file_path}")

File saved as account_spending_category.csv

In [14]:
import pandas as pd

# Load your data into DataFrames. This is just a placeholder as the actual loading of data from images is not possible here.
df_transactions = pd.read_csv('fake_transactional_data_24.csv')
df_category_counts = pd.read_csv('account_category_counts_1.csv')

# Assuming df_transactions is the DataFrame containing the transactions
# and df_category_counts is the DataFrame containing the category counts

# Step 1: Create a total transaction count feature
total_transactions_per_account = df_transactions.groupby('from_totally_fake_account').size().reset_index(name='Total_Transactions')

# Step 2: Merge this data with the category count data from the second table
# Make sure that both DataFrames have a column named 'from_totally_fake_account' that will be used for merging
df_features = pd.merge(df_category_counts, total_transactions_per_account, on='from_totally_fake_account', how='left')

# Step 3: Calculate the proportion of transfer transactions
#df_features['Transfer_Proportion'] = df_features['Transfer'] / df_features['Total_Transactions']

In [15]:
df_features

,from_totally_fake_account,Bar,Beverage Shops,Dining,Fashion and Decor,Food Retail,Home and Electronics,Leisure and Recreation,Specialty Retail,Takeaway,Transfer,Transfer Proportion,Total_Transactions,Transfer_Proportion
0,1000.0,363,816,40,2,11,22,33,24,24,375,0.219298,1710,0.219298
1,1002.0,334,209,28,5,12,27,42,8,26,352,0.337488,1043,0.337488
2,1006.0,320,856,44,9,185,17,41,56,25,288,0.156437,1841,0.156437
3,1018.0,416,14,63,18,164,5,5,2,0,118,0.146584,805,0.146584
4,1053.0,319,274,222,24,77,23,45,5,23,307,0.232752,1319,0.232752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8137,100931.0,471,276,55,10,157,31,60,58,21,525,0.315505,1664,0.315505
8138,100934.0,330,247,37,1,71,13,29,42,17,324,0.291629,1111,0.291629
8139,100947.0,415,287,230,3,115,22,68,13,24,409,0.257881,1586,0.257881
8140,100986.0,394,27,27,7,56,16,53,7,34,413,0.399420,1034,0.399420
8141,100988.0,355,267,228,24,84,5,8,19,18,343,0.253886,1351,0.253886

In [24]:
# Step 1: Identify the transfer transaction
df['is_transfer'] = df['to_randomly_generated_account'].apply(lambda x: any(char.isdigit() for char in x))

# Step 2: Summarize the number and amount of transfers for each account
transfers = df[df['is_transfer']].groupby(['from_totally_fake_account', 'to_randomly_generated_account']).agg(
    transfer_count=pd.NamedAgg(column='monopoly_money_amount', aggfunc='count'),
    transfer_amount=pd.NamedAgg(column='monopoly_money_amount', aggfunc='sum')
).reset_index()

# Step 3: Compare the amount spent with the amount transferred
# Calculate the total amount spent per account (non-transfer)
df['non_transfer_amount'] = df.apply(lambda x: x['monopoly_money_amount'] if not x['is_transfer'] else 0, axis=1)
consumption = df.groupby('from_totally_fake_account')['non_transfer_amount'].sum().reset_index()

# Combine the amount transferred and the amount spent
account_summary = pd.merge(transfers, consumption, on='from_totally_fake_account', how='outer').fillna(0)

# Step 4: Risk assessment
# Assumption: Transferring more than twice the amount spent may be a money laundering risk
account_summary['potential_money_laundering'] = account_summary.apply(
    lambda x: x['transfer_amount'] > 2 * x['non_transfer_amount'], axis=1
)
# Show accounts that may be at risk of money laundering

suspicious_accounts = account_summary[account_summary['potential_money_laundering']]
suspicious_accounts

,from_totally_fake_account,to_randomly_generated_account,transfer_count,transfer_amount,non_transfer_amount,potential_money_laundering
3039,3512.0,43151,45,23852.0,10229.37,True
6878,6406.0,74265,73,23519.5,11335.19,True
8690,7909.0,76635,12,18230.0,6669.10,True
10418,9337.0,94129,12,16195.0,7750.85,True
11623,10605.0,38247,40,23201.5,8659.66,True
...,...,...,...,...,...,...
111807,95069.0,76456,12,19865.0,9497.88,True
111968,95222.0,16742,42,17957.5,8330.63,True
114320,97138.0,67945,12,16750.0,7878.16,True
116646,98861.0,52924,12,18585.0,9051.58,True
119150,100925.0,77901,12,16455.0,8082.43,True

In [36]:
# Define criteria for large transfers
large_transfer_threshold = 1000

# Select all transfer transactions
transfers = df[df['is_transfer']].copy()


transfers.reset_index(drop=True, inplace=True)

# Apply a function that flags dangerous transfers
transfers = transfers.groupby('from_totally_fake_account').apply(mark_large_first_transfers).reset_index(drop=True)

# Filter out transactions flagged as dangerous transfers
dangerous_transfers = transfers[transfers['dangerous_transfer']]

dangerous_transfers

         from_totally_fake_account to_randomly_generated_account  \
15                          1000.0                         31489
4808                        1180.0                          7455
6085                        1214.0                         78470
8004                        1304.0                         44869
8370                        1309.0                         32858
...                            ...                           ...
2522449                   100656.0                         91109
2523073                   100687.0                         92892
2523278                   100688.0                         16948
2527307                   100820.0                          9499
2530092                   100925.0                         77901

         monopoly_money_amount  dangerous_transfer
15                      1960.0                True
4808                    1675.0                True
6085                    1930.0                True
8004                    1775.0                True
8370                    1215.0                True
...                        ...                 ...
2522449                 1240.0                True
2523073                 1335.0                True
2523278                 1995.0                True
2527307                 1155.0                True
2530092                 1340.0                True

[2040 rows x 4 columns]

,from_totally_fake_account,monopoly_money_amount,to_randomly_generated_account,not_happened_yet_date,venue_category,venue_category_new,is_transfer,non_transfer_amount,first_transfer_amount,dangerous_transfer
15,1000.0,1960.0,31489,02/07/2025,Transfer,Transfer,True,0.0,1960.0,True
4808,1180.0,1675.0,7455,01/01/2025,Transfer,Transfer,True,0.0,1675.0,True
6085,1214.0,1930.0,78470,02/01/2025,Transfer,Transfer,True,0.0,1930.0,True
8004,1304.0,1775.0,44869,02/10/2025,Transfer,Transfer,True,0.0,1775.0,True
8370,1309.0,1215.0,32858,01/11/2025,Transfer,Transfer,True,0.0,1215.0,True
...,...,...,...,...,...,...,...,...,...,...
2522449,100656.0,1240.0,91109,06/01/2025,Transfer,Transfer,True,0.0,1240.0,True
2523073,100687.0,1335.0,92892,04/06/2025,Transfer,Transfer,True,0.0,1335.0,True
2523278,100688.0,1995.0,16948,07/07/2025,Transfer,Transfer,True,0.0,1995.0,True
2527307,100820.0,1155.0,9499,01/04/2025,Transfer,Transfer,True,0.0,1155.0,True
2530092,100925.0,1340.0,77901,01/04/2025,Transfer,Transfer,True,0.0,1340.0,True

In [40]:
new_table = pd.DataFrame(df['from_totally_fake_account'].unique(), columns=['Account'])

# Flag accounts at risk of money laundering
new_table['Money_Laundering_Risk'] = new_table['Account'].isin(suspicious_accounts['from_totally_fake_account']).astype(int)

# Mark the account number and amount of the first transfer
new_table.rename(columns={'Account': 'from_totally_fake_account'}, inplace=True)

# Assume that dangerous_transfers already contain the required information
dangerous_transfers_summary = dangerous_transfers[['from_totally_fake_account', 'monopoly_money_amount']].drop_duplicates()
new_table = pd.merge(new_table, dangerous_transfers_summary, on='from_totally_fake_account', how='left')

# risk assessment
def risk_assessment(row):
    if row['Money_Laundering_Risk']:
        return 'Danger'
    elif pd.notnull(row['monopoly_money_amount']):
        return 'Potential risk'
    else:
        return 'Secure'

new_table['Risk_Assessment'] = new_table.apply(risk_assessment, axis=1)

# Rename the column to reflect the content more clearly
new_table.rename(columns={'monopoly_money_amount': 'First_Large_Transfer_Amount'}, inplace=True)


new_table

,from_totally_fake_account,Money_Laundering_Risk,First_Large_Transfer_Amount,Risk_Assessment
0,10371.0,0,NaN,Secure
1,88339.0,0,NaN,Secure
2,18555.0,0,NaN,Secure
3,80792.0,0,NaN,Secure
4,41378.0,0,NaN,Secure
...,...,...,...,...
8137,62617.0,0,NaN,Secure
8138,14179.0,0,NaN,Secure
8139,30084.0,0,NaN,Secure
8140,21021.0,0,1315.0,Potential risk
8141,22429.0,0,1410.0,Potential risk

In [42]:
# Save the new table as a CSV file
output_file_path = 'Risk assessment.csv'  # You can change this to your desired file path
new_table.to_csv(output_file_path)

print(f"File saved as {output_file_path}")

File saved as Risk assessment.csv